/*------------------GENERAL COLORS------------------*/

$Primary: #177ddc;
$Light-primary: #3C9AE8;
$Secondary: #263EA0;
$Dark-Primary: #000000;

$Blue: #177DDC;
$Red: #FF4343;
$Green: #6abe39;
$Yellow: #E8D639;
$Grey: #252830;
$Light-Grey: #252830;
$Light-Grey-2: #32394d;
$Light-Grey-3: #343740;
$Light-Grey-4: #545a66;
$Light-Grey-5: #8089a0;
$Black: #1d2027;
$White: #ffffff;
// notBug theme colors
$Diamond-teal: #00BFFB;
$Dark-blue-1: #1D2026;
$Dark-blue-2: #242830;
$Dark-blue-3: #5B5B86;
$FB-blue: #0270d7;


$Danger-Color: #FF4343;
$Warning-Color: #FF4343;
$Default-Color: #177DDC;
$Success-Color: #60AD4D;
$Inverse-Color: #CC584D;
$Info-Color: #177DDC;
