<div class="module" (click)="module.toggle=!module.toggle" style="cursor: pointer">
    <div>
        <i nz-icon click-stop-propagation  class="iconExpand" nzType="{{module.toggle ? 'down' : 'right'}}"  (click)="module.toggle=!module.toggle" style="cursor: pointer"></i>
        <span style="font-size: 16px; padding-left: 20px">{{module.name}}</span>
    </div>
    <div style="padding-right: 10px; display: flex">
        <div style="padding-right: 50px">Bugs reportados en este modulo: {{module.bugCount}}</div>
        <div>
            <nz-badge nzStatus="processing" style="padding-right: 10px;" nzText="{{lowTestCases}}"></nz-badge>
            <nz-badge nzStatus="success" style="padding-right: 10px;" nzText="{{mediumTestCases}} "></nz-badge>
            <nz-badge nzStatus="warning" style="padding-right: 10px;" nzText="{{highTestCases}}"></nz-badge>
            <nz-badge nzStatus="error" style="padding-right: 10px;" nzText="{{criticalTestCases}}"></nz-badge>
        </div>
        <div style="padding-left: 15px">
            <span>{{doneTestCases}}/{{totalTestCases}}</span>
        </div>
    </div>
</div>
<div  class="containerTestCase" *ngIf="module.toggle">

    <!-- TEST CASE -->
    <div *ngFor="let testCase of module.testCases">
        <div *ngIf="testCase.run">
            <div class="testCase" (click)="testCase.toggle=!testCase.toggle" style="cursor: pointer">
                <div>
                    <i nz-icon click-stop-propagation  class="iconExpand" nzType="{{testCase.toggle ? 'down' : 'right'}}"  (click)="testCase.toggle=!testCase.toggle" style="cursor: pointer"></i>
                    <span style="font-size: 16px; padding-left: 20px">{{testCase.name}}</span>
                </div>
                <div style="display: flex; justify-content: flex-end;">
                    <div style="padding-right: 50px">Bugs reportados en este caso de prueba: {{testCase.bugCount}}</div>
                    <app-testcases-select-status  click-stop-propagation [isClosed]="isClosed" [(testCaseStatus)]="testCase.testCaseStatus" (newTestCaseStatus)="changeStatusOnClick()"></app-testcases-select-status>
                    <button nz-button click-stop-propagation class="nb-util-button" *ngIf="!isClosed" nzType="default" nzSize="small" style="margin-left: 15px"  (click)="newBugOnClick(testCase)">Reportar Bug</button>
                    <app-priority-viewer style="padding-left: 15px" [priority]="testCase.priority"></app-priority-viewer>
                </div>
            </div>

            <div *ngIf="testCase.toggle" class="individualContainer">
                <div nz-row>
                    <div nz-col  nzSm="24" nzMd="16" class="colClass">
                        <nz-descriptions nzLayout="vertical" [nzColumn]="2">
                            <nz-descriptions-item nzTitle="Precondiciones" style="width: 100%;padding-top:2%;padding-left:2%">
                                <div class="info-fields" style="max-width: 100%;padding-top:2%;padding-left:2%">
                                    <ngx-md>{{testCase.precondition}}</ngx-md>
                                </div>
                            </nz-descriptions-item>
                            <nz-descriptions-item nzTitle="Resultado esperado" style="width: 100%;padding-top:2%;padding-left:2%">
                                <div class="info-fields" style="max-width: 100%;padding-top:2%;padding-left:2%">
                                    <ngx-md>{{testCase.expectedResult}}</ngx-md>
                                </div>
                            </nz-descriptions-item>
                            <nz-descriptions-item nzTitle="Prioridad" style="width: 100%;padding-top:2%;padding-left:2%">
                                <div class="info-fields" style="max-width: 100%;;padding-top:2%;padding-left:2%">
                                    <ngx-md style="margin-left: 50px;padding-top:2%;padding-left:2%">{{testCase.priority}}</ngx-md>
                                </div>
                            </nz-descriptions-item>
                            <nz-descriptions-item nzTitle="Estimacion(en horas)" style="width: 100%">
                                <div class="info-fields" style="max-width: 100%;padding-top:2%;padding-left:2%">
                                    {{testCase.estimatedTime}}
                                </div>
                            </nz-descriptions-item>
                        </nz-descriptions>
                    </div>

                    <div nz-col  nzSm="24" nzMd="8" class="colClass">
                        <div nz-row>
                            <nz-form-item>
                                <nz-form-label >Pasos</nz-form-label>
                                <div style="border: 1px solid #546d76;width: 100%" class="steps" *ngFor="let step of testCase.steps; let i = index">
                                    <span>
                                        #{{i+1}}   {{step.name}}
                                    </span>
                                </div>
                            </nz-form-item >
                        </div>
                    </div>
                </div>
                <div nz-row style="width: 100%">
                    <span>
                        Comment:
                    </span>
                    <div style="width: 100%;">
                        <textarea style="width: 100%; margin-bottom: 10px; margin-top: 5px;border: 1px solid #546d76" *ngIf="!isClosed"  nz-input rows="5" placeholder="Escriba algo..." [(ngModel)]="testCase.commet" (change)="changeStatusOnClick()" ></textarea>
                        <ngx-md style="width: 100%; margin-bottom: 10px; margin-top: 5px" *ngIf="isClosed">{{testCase.commet}}</ngx-md>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
