@import "src/assets/scss/style";

.colClass {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 0px;
}
.container {
  display: flex;
  flex-wrap: nowrap;
  padding: 8px;
}

.module {
  z-index: 60;
  background-color: $Light-Grey-3;
  display: flex;
  height: 35px;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  color: $White;
  margin-bottom: 10px;
  border-radius: $border-radius;

}

.testCasesContainer {
  z-index: 50;
  background-color: transparent;
  display: flex;
  align-items: center;
  width: 100%;
  color: $White;
  margin-bottom: 10px;
  margin-top: -10px;
  padding: 10px;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

.testCase {
  background-color: $Light-Grey-2;
  display: flex;
  height: 35px;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  color: $White;
  border-radius: $border-radius;
  margin-bottom: 10px;

}

.icon {
  font-size: 15px;
  padding-top: 4px;
  cursor: pointer;
}

.iconModule {
  color: $Light-Grey;
  font-size: 15px;
  padding-top: 4px;
  cursor: move;
}

.iconTestCase {
  color: $Light-Grey-3;
  font-size: 15px;
  padding-top: 4px;
  cursor: move;
}

.iconExpand {
  font-size: 15px;
  padding-top: 4px;
  margin-left: 10px;
  cursor: pointer;
}

.title {
  font-size: 16px;
  background: transparent;
  border: transparent;
  color: $White;
  //margin-left: 10px;
  height: 24px;
  //width: 100%;
  max-width: 30%;
  cursor: pointer;
  padding-left: 3px;
  margin-left: 10px;
}
